#banner {
  /*background: #9c9 ;*/
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid;
  font: small-caps 40px/40px "Ariel", serif;
  width: 900px;
  /*color: #282 ;*/
  text-align: left;
}
#banner img {
  float: left;
}

#store {
  width: 900px;
}

/* Navigation
   -------------------------------- */

#navigation {
  width: 900px;
  height: 41px;
  float: right;
  font-size: 40px;
}

#navigation .left {
  float: left;
  width: 5px;
  height: 41px;
  background: url('/static/images/navigation_l.png') no-repeat left top;
}

#ie6 #navigation .left {
  background: transparent none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/images/navigation_l.png', sizingMethod='scale');
  zoom: 1;
}

#navigation .right {
  float: left;
  width: 3px;
  height: 41px;
  background: url('/static/images/navigation.png') no-repeat right top;
}

#navigation ul,
#navigation ul li {
  font-weight: bold;
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 21px;
  line-height: 38px;

}

#navigation ul {
  height: 41px;
  background: url('/static/images/navigation.png') repeat-x 0 -41px;
}

#navigation ul li a {
  float: left;
  display: block;
  height: 41px;
  padding: 0 18px;
  color: #ccc;
  text-decoration: none;
  background: url('/static/images/navigation_s.png') no-repeat right top;
}

#navigation ul li.selected a {
  color: #fff;
}

#navigation ul li.last a{
  background-image: none;
}

#navigation ul li a:hover {
  color: #fff;
}

