<html>
  <head>
    <title>Eucalyptus Monitor</title>
    <link href="static/styles.css" media=screen" rel="stylesheet" type="text/css" />
  </head>
  <body id="store">
    <div id="banner">
      <img src="static/logo.png" length="50" width="50" />
      Eucalyptus Monitor
    </div>
    <div id="columns">
      <div id="side">
        <a href="/addkeypair">Add a Keypair</a>
        <br />
        <a href="/">View all Running Instances</a>
        <br />
        <a href="/run">Run an Instance</a>
        <br />
        <a href="/terminate">Terminate an Instance</a>
        <br />
      </div>
      <div id="main">
        {% if images %}
          <form action="/runpost" method="post">
          <p>The following images are available:</p>
          <table border="1">
          <tr>
            <td>Image ID</td>
            <td>Manifest Location</td>
            <td>Key to Use</td>
            <td>Instance Type</td>
            <td></td>
          </tr>
          {% for image in images %}
            <tr>
              <td>{{ image.id }}</td>
              <td>{{ image.location }}</td>
              <td>
                <select name='key_to_use'>
                  {% for key in keys %}
                    <option value='{{ key }}'>{{ key }}</option>
                  {% endfor %}
                </select>
              </td>
               <td>
                <select name='instance_type'>
                  <option value='m1.small'>m1.small</option>
                  <option value='c1.medium'>c1.medium</option>
                  <option value='m1.large'>m1.large</option>
                  <option value='m1.xlarge'>m1.xlarge</option>
                  <option value='c1.xlarge'>c1.xlarge</option>
                </select>
              </td>
            <td>Run image <input type="submit" name="image_to_run" value="{{ image.id }}" /></td>
            </tr>
          {% endfor %}
        </table>
        </form>
        {% else %}
        <p>No images are currently available for use.</p>
        {% endif %}
      </div>
    </div>
  </body>
</html>
