<html>
  <head>
    <title>Eucalyptus Monitor</title>
    <link href="static/styles.css" media=screen" rel="stylesheet" type="text/css" />
  </head>
  <body id="store">
    <div id="banner">
      <img src="static/logo.png" length="50" width="50" />
      Eucalyptus Monitor
    </div>
    <div id="columns">
      <div id="side">
        <a href="/addkeypair">Add a Keypair</a>
        <br />
        <a href="/">View all Running Instances</a>
        <br />
        <a href="/run">Run an Instance</a>
        <br />
        <a href="/terminate">Terminate an Instance</a>
        <br />
      </div>
      <div id="main">
        {% if reservations %}
        <form action="/viewpost" method="post">
        <p>The following instances are running with the given credentials:</p>
          <table border="1">
            <tr>
              <td>Reservation ID</td>
              <td>Instance ID</td>
              <td>Key Name</td>
              <td>Public IP</td>
              <td>Private IP</td>
              <td>State</td>
              <td></td>
            </tr>
            {% for reservation in reservations %}
              {% for instance in reservation.instances %}
                <tr>
                  <td>{{ reservation.id }}</td>
                  <td>{{ instance.id }}</td>
                  <td>{{ instance.key_name }}</td>
                  <td>{{ instance.public_dns_name }}</td>
                  <td>{{ instance.private_dns_name }}</td>
                  <td>{{ instance.state }}</td>
                  <td>Open terminal to <input type="submit" name="connect_to" value="{{ instance.id }}" /></td>
                  <input type="hidden" name="{{ instance.id }}" value="{{ instance.key_name }}|{{ instance.public_dns_name }}" /></td>
                </tr>
              {% endfor %}
            {% endfor %}
          </table>
        </form>
        {% else %}
          <p>No instances are currently running.</p>
        {% endif %}
      </div>
    </div>
  </body>
</html>
