<html>
  <head>
    <title>Eucalyptus Monitor</title>
  <link type="text/css" href="/static/lib/css/sunny/jquery-ui-1.8.6.custom.css" rel="stylesheet" />  
    <script type="text/javascript" src="/static/lib/js/jquery-1.4.2.min.js"></script> 
    <script type="text/javascript" src="/static/lib/js/jquery-ui-1.8.6.custom.min.js"></script>
    <script type="text/javascript" src="/static/js/euca.js"></script> 

    <link href="static/css/styles.css" media="screen" rel="stylesheet" type="text/css" />

  </head>
  <body id="store">
    <div id="banner" class="ui-widget ui-widget-header ui-helper-clearfix ui-state-default ui-corner-all">
      <img src="static/images/logo.png" length="50" width="50" />
      Eucalyptus Monitor
    </div>

    <div id="navigation">
        <ul>
          <li>
            <a href="/addkeypair">Add a Keypair</a>
          </li>
          <li>
            <a href="/">View all Running Instances</a>
          </li>
          <li>
            <a href="/run">Run an Instance</a>
          </li>
          <li>
            <a href="/terminate">Terminate an Instance</a>
          </li>
        </ul>
    </div>
    <br/>
    <br/>

    <div id="columns">
      <div id="main">
         <div class="ui-widget ui-widget-header ui-helper-clearfix ui-state-default ui-corner-all">
        <h2>Add KeyPair</h2>
        </div>
    <br/>
        <div class="ui-widget ui-widget-content ui-helper-clearfix ui-state-default ui-corner-all">

          <form action="/addkeypairpost" method="post">
            <p>Please choose a new key name to use with virtual machines.</p>
            <p />
            <label>New Key Name:</label>
            <br />
            <input id="keypair_name" name="keyname" size="40" type="text" />
            <a id="keypair_button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" type="submit" role="button" href="javascript:post_add_key();" >AddKey</a>
          </form>
        </div>
            {% if keys %}
    <br/>
        <div class="ui-widget ui-widget-header ui-helper-clearfix ui-state-default ui-corner-all">
        You cannot use the following key names:
        </div>
        <div class="ui-widget ui-widget-content ui-helper-clearfix ui-state-default ui-corner-all">
            <ul id="existing-keys">
              {% for key in keys %}
              <li>{{ key }}</li>
              {% endfor %}
            </ul>
            {% endif %}
        </div>
      </div>
      </div>
    </div>
   <div class="dialog" id="notification-dialog"> 
  </div> 
  <script type="text/javascript"> init_euca(); </script>
 
  </body>
</html>
