<html>
  <head>
    <title>Eucalyptus Monitor</title>
  <link type="text/css" href="static/lib/css/sunny/jquery-ui-1.8.6.custom.css" rel="stylesheet" />  
    <script type="text/javascript" src="/static/lib/js/jquery-1.4.2.min.js"></script> 
    <script type="text/javascript" src="/static/lib/js/jquery-ui-1.8.6.custom.min.js"></script> 
    <script type="text/javascript" src="/static/js/euca.js"></script> 

    <link href="static/css/styles.css" media="screen" rel="stylesheet" type="text/css" />
  </head>
  <body id="store">
    <div id="banner" class="ui-widget ui-widget-header ui-helper-clearfix ui-state-default ui-corner-all">
      <img src="static/images/logo.png" length="50" width="50" />
      Eucalyptus Monitor
    </div>
    <div id="navigation">
        <ul>
          <li>
            <a href="/addkeypair">Add a Keypair</a>
          </li>
          <li>
            <a href="/">View all Running Instances</a>
          </li>
          <li>
            <a href="/run">Run an Instance</a>
          </li>
          <li>
            <a href="/terminate">Terminate an Instance</a>
          </li>
        </ul>
    </div>
<br/>
<br/>
    <div id="columns">
      <div id="main">
      <div class="ui-widget ui-widget-header ui-state-default ui-corner-all">
      <h2>Terminate Instances</h2>
      </div>
      <br/>
      <div class="ui-widget ui-widget-content ui-helper-clearfix ui-state-default ui-corner-all">
        {% if reservations %}
        <form action="/terminatepost" method="post">
        <p>The following instances are running with the given credentials:</p>
          <table border="1">
            <tr>
              <td>Reservation ID</td>
              <td>Instance ID</td>
              <td>Key Name</td>
              <td>Public IP</td>
              <td>Private IP</td>
              <td>State</td>
              <td>Click to Terminate</td>
            </tr>
            {% for reservation in reservations %}
              {% for instance in reservation.instances %}
                <tr>
                  <td>{{ reservation.id }}</td>
                  <td>{{ instance.id }}</td>
                  <td>{{ instance.key_name }}</td>
                  <td>{{ instance.public_dns_name }}</td>
                  <td>{{ instance.private_dns_name }}</td>
                  <td>{{ instance.state }}</td>
                  <td><a id='{{instance.id}}-shutdown-button' class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" type="submit" role="button" href="javascript:post_terminate('{{ instance.id }}');" >Shutdown</a></td>
                </tr>
              {% endfor %}
            {% endfor %}
          </table>
        </form>
        {% else %}
          <p>No instances are currently running.</p>
        {% endif %}
      </div>
      </div>
    </div>
    <div class="dialog" id="notification-dialog"> 
    </div> 
  <script type="text/javascript"> init_euca(); 
            {% for reservation in reservations %}
              {% for instance in reservation.instances %}
                $("#" + "{{instance.id}}-shutdown-button").button();
              {% endfor %}
            {% endfor %}
  </script>
 
  </body>
</html>
